name: Deploy Laravel API

on:
  push:
    branches:
      - develop # Trigger deployment on push to main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1" # Update PHP version if needed
          extensions: mbstring, pdo, mysql

      - name: Install Composer Dependencies
        run: |
          composer install --prefer-dist --no-ansi --no-interaction --no-scripts --no-progress --optimize-autoloader

      - name: Clear caches (optional)
        run: |
          php artisan config:cache
          php artisan route:cache
